		/* line 1, calcStyle.scss */
		
		* {
			/*			border: 1px solid red !important;*/
			padding: 0;
			margin: 0;
		}
		/* line 7, calcStyle.scss */
		
		body {
			font-family: 'Press Start 2P', Courier New;
			background: #ccc;
			text-align: center;
			font-size: 10px;
		}
		/* line 14, calcStyle.scss */
		
		.container {
			background-color: #222;
			color: #ccc;
			max-width: 540px;
			/*min-height: 480px;*/
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			padding: 2rem;
			padding-top: 1rem;
			padding-bottom: 2rem;
			margin: 0 auto;
			border-radius: 15px;
			-webkit-box-shadow: 5px 10px 3px #555555;
			box-shadow: 5px 10px 3px #555555;
		}
		/* line 36, calcStyle.scss */
		
		button,
		ul,
		input,
		h2 {
			padding: 0;
			margin: 0;
			font-size: inherit;
			font-family: inherit;
			padding: 1rem;
			margin: 1.5rem;
		}
		/* line 48, calcStyle.scss */
		
		input {
			background-color: #222;
			border: 2px solid #eee;
			color: #eee;
		}
		/* line 54, calcStyle.scss */
		
		button {
			border: 3px solid #7d7;
			background-color: #222;
		}
		/* line 59, calcStyle.scss */
		
		button:hover {
			cursor: pointer;
		}
		/* line 63, calcStyle.scss */
		
		#calc:active {
			background-color: #7c7;
			color: #fff;
		}
		/* line 68, calcStyle.scss */
		
		#title,
		.display {
			margin: 0;
			margin-bottom: 1rem;
			padding: 0;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 100;
		}
		/* line 78, calcStyle.scss */
		
		.main-btns {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 1rem;
		}
		/* line 88, calcStyle.scss */
		
		#input {
			-webkit-box-flex: 2;
			-ms-flex: 2 1 0px;
			flex: 2 1 0px;
			margin: 0;
			padding: 0;
			border-color: #bbb;
			padding: 1rem;
			border-radius: 15px 0px 0px 15px;
		}
		/* line 99, calcStyle.scss */
		
		#add {
			-webkit-box-flex: 1;
			-ms-flex: 1 1 0px;
			flex: 1 1 0px;
			color: #2ac;
			margin: 0;
			padding: 1rem;
			border: 3px solid #2ac;
			border-radius: 0px 15px 15px 0px;
		}
		/* line 110, calcStyle.scss */
		
		#add:active {
			background: #2ac;
			color: #eee;
		}
		/* line 115, calcStyle.scss */
		
		#calc {
/*
			-webkit-box-flex: 0;
			-ms-flex: 0 1 0px;
			flex: 0 1 0px;
*/
			color: #7d7;
			border-radius: 15px;
		}
		/* line 123, calcStyle.scss */
		
		#picker {
			max-width: 460px;
			list-style: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 auto;
			padding: 0;
		}
		/* line 137, calcStyle.scss */
		
		.block1,
		.block2 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-item-align: center;
			align-self: center;
			padding: 0;
			margin: 0;
		}
		/* line 148, calcStyle.scss */
		
		#picker li {
			padding: 0;
			margin: 0;
			font-size: 1.3rem;
			padding-top: 1rem;
			padding-bottom: .2rem;
			color: #7d7;
		}
		/* line 157, calcStyle.scss */
		
		a,
		a:visited,
		a:active,
		a:focus {
			margin: 0 .5rem;
			color: #aaa;
			display: block;
			text-decoration: none;
			border: 2px solid transparent;
		}
		/* line 168, calcStyle.scss */
		
		a:hover {
			text-decoration: none;
			color: #ddd;
			border-bottom-color: #ddd;
		}
		/* line 174, calcStyle.scss */
		
		#picker li a.active {
			text-decoration: none;
			color: #ddd;
			border-bottom-color: #ddd;
		}
		/* line 180, calcStyle.scss */
		
		#displayScreen {
			width: 80%;
			height: 6rem;
			padding: 1rem 1rem 0 1rem;
			margin: 1rem auto;
			border: 2px solid #aaa;
			border-radius: 15px;
			background: #555;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
		}
		/* line 197, calcStyle.scss */
		
		#displayNum,
		#displayTotal {
			padding: 0;
			margin: 0;
			overflow: auto;
			-ms-flex-item-align: stretch;
			align-self: stretch;
		}
		/* line 206, calcStyle.scss */
		
		#displayTotal {
			/*			background: rgba(0, 255, 255, 0.38);*/
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 1rem auto;
			padding-top: .5rem;
		}
		/* line 215, calcStyle.scss */
		
		#displayTotal h3 {
			padding-bottom: .5rem;
		}
		/* line 219, calcStyle.scss */
		
		#displayNum {
			/*			background: rgba(255, 0, 216, 0.38);*/
			height: 2rem;
		}
		/* line 224, calcStyle.scss */
		
		#displayNum a {
			padding-top: .4rem;
			color: #999;
			border: 0;
		}
		/* line 230, calcStyle.scss */
		
		#displayNum a:hover {
			border: 0;
			color: #444;
		}
		/* line 235, calcStyle.scss */
		
		#displayNum p {
			padding-top: .4rem;
			color: #222;
		}
		/* line 240, calcStyle.scss */
		
		#display {
			padding: 0;
			margin: 0;
			font-size: 2.4rem;
			color: #31ba4c;
			text-shadow: 2px 2px #444;
			overflow: auto;
			-webkit-box-flex: 2;
			-ms-flex: 2 1 90%;
			flex: 2 1 90%;
		}
		/* line 252, calcStyle.scss */
		
		.settings {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		/* line 257, calcStyle.scss */
		
		.btnSet {
			border-color: #777;
			color: #777;
			padding: .7rem;
			width: 100px;
			/*			-ms-flex-item-align: center;*/
			/*			align-self: center;*/
			border-radius: 15px;
			margin: 1rem;
		}
		/* line 268, calcStyle.scss */
		
		.btnSet:active {
			color: #ccc;
			background: #777;
		}
		/* line 273, calcStyle.scss */
		
		#info {
			width: 3.5rem;
		}
		/* line 276, calcStyle.scss */
		
		#infoBlock {
			background: #222;
			color: #eee;
			/*			font-size: .6rem;*/
			line-height: 200%;
			border: 2px solid #777;
			border-radius: 10px;
			padding: 1rem 1rem;
			position: absolute;
			max-width: 400px;
			opacity: .9;
			margin: auto;
			-ms-flex-item-align: center;
			align-self: center;
			overflow: auto;
			max-height: 500px;
		}
		/* line 293, calcStyle.scss */
		
		#xOut {
			padding: .2rem;
			border: 0;
			background: 0;
			float: right;
			/*			margin: 1px;*/
			color: #aaa;
			/*			height: 4px;*/
			/*			width: 4px;*/
			border-bottom: 2px solid #aaa;
		}
		/* line 305, calcStyle.scss */
		
		#xOut:hover {
			color: #eee;
			border-bottom: 2px solid #eee;
		}
		/*	------------------iPhone 7 Plus---------------	*/
		
		@media (max-width: 430px) {
			/* line 312, calcStyle.scss */
			body {
				background: #222;
			}
			/* line 315, calcStyle.scss */
			.container {
				margin-top: 1rem;
				padding: .8rem;
				max-height: 100%;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			/* line 321, calcStyle.scss */
			#title {
				margin: 1rem;
				font-size: 2rem;
			}
			/* line 325, calcStyle.scss */
			#picker li {
				font-size: 1.2rem;
			}
			/* line 328, calcStyle.scss */
			#displayScreen {
				margin: 3rem auto;
			}
		}
		/*	------------------iPhone 6---------------	*/
		
		@media (max-width: 430px) {
			/* line 335, calcStyle.scss */
			body {
				background: #222;
			}
			/* line 338, calcStyle.scss */
			.container {
				margin-top: 1rem;
				padding: .8rem;
				max-height: 100%;
			}
			/* line 343, calcStyle.scss */
			#title {
				margin: 1rem;
				font-size: 1.8rem;
			}
			/* line 347, calcStyle.scss */
			#picker li {
				font-size: 1rem;
			}
			/* line 350, calcStyle.scss */
			#displayScreen {
				margin: 2rem auto 1rem auto;
			}
		}
		/*	------------------iPhone 5 ---------------	*/
		
		@media (max-width: 325px) {
			/* line 357, calcStyle.scss */
			.container {
				margin-top: 1rem;
			}
			/* line 360, calcStyle.scss */
			#title {
				margin: 1rem;
				font-size: 1.7rem;
			}
			/* line 364, calcStyle.scss */
			button,
			ul,
			input,
			h2 {
				padding: .8rem;
				margin: .6rem;
			}
			/* line 371, calcStyle.scss */
			.main-btns {
				padding: .5rem;
			}
			/* line 374, calcStyle.scss */
			#input {
				padding: .7rem;
			}
			/* line 377, calcStyle.scss */
			#add {
				padding: .7rem;
				margin-right: .2rem;
				border-top-right-radius: 15px;
			}
			/* line 382, calcStyle.scss */
			#picker li {
				font-size: .9rem;
			}
			/* line 385, calcStyle.scss */
			#displayScreen {
				margin-top: 2rem;
			}
			/* line 388, calcStyle.scss */
			.btnSet {
				margin-top: 1rem;
				padding: .3rem;
			}
		}
		/*		/////////Destop Layout ///////////*/
		
		@media (min-width: 740px) {
			/* line 396, calcStyle.scss */
			body {
				padding-top: 2rem;
			}
			/* line 399, calcStyle.scss */
			.container {
				padding-top: 3rem;
				max-width: 480px;
			}
			/* line 403, calcStyle.scss */
			#displayScreen {
				width: 80%;
				height: 9rem;
			}
			/* line 407, calcStyle.scss */
			#displayTotal {
				margin-top: 1rem;
			}
			/* line 410, calcStyle.scss */
			#displayNum {
				padding: 1rem 0;
				/*				padding-bottom: 1rem;*/
				margin-bottom: .3rem;
				color: #222;
			}
		}
		/*# sourceMappingURL=calcStyle.css.map */
